@media only screen and (max-width: 800px) {
  .destination {
    .destinationContainer {
      width: 100%;

      .destinationCountry {
        width: 100%;
        height: 600px;
        
        .countryList {
          flex-wrap: wrap;
        
          .listItems {
            height: 30%;
            width: 45%;
          }
        }
      }
    }
  }
}