.blog {
  background-color: $white;
  @include align;

  .blogContainer {
    height: $heightSection;
    width: $widthSection;
    @include align;
    flex-direction: column;
    justify-content: space-between;

    .blogNewsCtn {
      @include align;
      justify-content: space-between;
      width: 90%;
      
      height: 500px;
      flex-direction: row;
      padding-top: 30px;

      .newsFirst {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        width: 40%;

        .firstImg {
          height: 60%;
          width: 100%;
          background-color: $gray;
          transition: .3s;

          &:hover {
          box-shadow: 3px 7px 28px -1px rgba(0,0,0,0.35);
          }
        }

        .firstNews{
          width: 100%;
          height: 30%;
          @include align;
          flex-direction: row;
        }

        .textFirst {
          height: 100%;
          width: 50%;
          text-align: center;
          @include align;
          justify-content: center;
          transition: .3s;

          &:hover {
            box-shadow: 3px 7px 28px -1px rgba(0,0,0,0.35);;
           }
        }

        .imgFirst {
          height: 100%;
          width: 50%;
          background-color: $gray;

          transition: .3s;
          &:hover {
            box-shadow: 3px 7px 28px -1px rgba(0,0,0,0.35);;
           }
        }
      }

      .newsSecond,
      .newsThird {
        @include align;
        justify-content: space-between;
        width: 25%;
        height: 100%;

        .secondthirdNews {
          @include align;
          width: 100%;
          height: 60%;
        }
      }

      .img1 {
        @include align;
        height: 30%;
        width: 100%;
        background-color: $gray;
        transition: .3s;

        &:hover {
          box-shadow: 3px 7px 28px -1px rgba(0,0,0,0.35);;
         }
      }

      .img {
        @include align;
        height: 50%;
        width: 100%;
        background-color: $gray;
        transition: .3s;

        &:hover {
          box-shadow: 3px 7px 28px -1px rgba(0,0,0,0.35);;
         }
      }   

      .text {
        @include align; 
        padding: 10px;
        font-family: $roboto;
        font-size: 12px;
        justify-content: center;
        height: 50%;
        width: 100%;
        text-align: center;
        line-height: $lineNormal;
        transition: .3s;

        &:hover {
          box-shadow: 3px 7px 28px -1px rgba(0,0,0,0.35);;
         }
      }

      .newsH {
        text-align: center;
        font-size: 12px;
        font-family: $roboto;
        font-size: $small+1px;
        font-weight:550; 
        line-height: 30px; 
      }
      
      .newsT {
        text-align: center;
        @include textSmallB;
        font-size: $small;
        line-height: $lineNormal ;
        padding: 10px;
      } 
    }

    .btnContainer {
      @include align;
      width: 200px;
      height: 50px;
    }
  }
}